@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}


$red: #f63f45;




.Add-Thing-Form__Photos-Inputs-Container {
    @include flex(row);
    .Add-Thing-Form__Photos-Container {
        @include flex(column, flex-start, center);
        width: 80px;
        height: 250px;
        overflow-y: scroll;
            
        .Photos-Container {
            position: relative;

            .Photo {
                width: 40px;
                margin: 3px;
            };
            .Delete-Photo-Button {
                height: 16px;
                width: 16px;
                font-size: 10px;
                line-height: 16px;
                border-radius: 50%;
                text-align: center;
                border: 0;
                background-color: $red;
                color: #fff;
                position: absolute;
                top: -4px;
                right: -4px;
            }
        }
        

        .Add-Photos-Button {
            height: 40px;
            width: 40px;
            text-align: center;
            font-size: 14px;
            padding: 4px;
            color: white;
            background-color: black;
            display: inline-block;

            .Add-Photos-Button__Input {
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
            }
            // fix
            .Add-Photos-Button__Input:focus + .Add-Photos-Button {
                background-color: blue;
            }
        }
                
            
        
    }
    .Add-Thing-Form__Inputs-Container {
        
        .Add-Thing-Form__Input-Label {
            @include flex(column, flex-start, stretch);
            color: #000;
            text-transform: uppercase;
            font-size: 10px;
            line-height: 20px;
            font-weight: bold;
            width: 200px;

            .Add-Thing-Form__Input {
                padding: 5px;
                width: 100%;
            }
        }
    }

}

