@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.User-Dropdown-Menu {
    position: absolute;
    top: 80px;
    left: 0;
    width: 180px;
    height: 100px;

    .User-Dropdown-Menu__Navigation-List {
        @include flex(column, flex-start, stretch);
        list-style: none;
        background: #202124;
        .User-Dropdown-Menu__Navigation-List-Item {
            color: #fff;
            position: relative;
            z-index: 51;
        }
    }
    .User-Dropdown-Menu__Navigation-List::before {
        content: "";
        position: absolute;
        top: 8px;
        right: 20px;
        z-index: 50;
        height: 0px;
        width: 0px;
        border-bottom: 12px solid #202124;
        border-right: 8px solid transparent;
        border-left: 8px solid transparent;

    }
}