@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.Thing-Item {
    position: relative;
    @include flex(column, flex-start, center);
    width: 200px;
    margin: 15px;
    box-sizing: border-box;
    box-shadow: 0 0 6px 2px lightgray;
    overflow: hidden;
    background: #fff;

    .Price-Label {
        position: absolute;
        top: 10px;
        left: 10px;
        @include flex(row, center, center);
        background: salmon;
        color: #fff;
        border-radius: 5px;
        font-size: 10px;
        height: 24px;
        padding: 0px 4px;
    }
    .Free {
        background: lightgreen;
    }
    .Thing-Item__Title {
        font-size: 16px;
        text-decoration: none;
        color: #000;
    }
    .Thing-Item__Title:hover {
        color: lightseagreen;
        text-decoration: underline;
    }
    .Thing-Item__Description {
        font-size: 10px;
    }
    .Thing-Item__Photo {
        width: 100%;
    }
    .No-Photo-Fallback-Container {
        @include flex(row, center, center);
        height: 200px;
        width: 190px;
        border: 1px solid black;
    }
    .Thing-Item__Go-Button {
        position: absolute;
        bottom: 5px;
        right: 5px;
        height: 30px;
        line-height: 30px;
        width: 80px;
        background: lightskyblue;
        border: 0;
        border-radius: 5px;
        text-align: center;
        text-decoration: none;
    }
}