@mixin flex($direction: row, $justifyContent: flex-start, $alignItems: stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

.Message-Box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @include flex(column, flex-start, center);
    background: rgba(0,0,0,0.9);
    padding: 20px;
    
    .Message-Box__Message-Text {
        color: #fff;
    }
}