@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

$blue: #2f75ec;
$red: #f63f45;

.Search-Bar {
    .Search-Form {
        @include flex(column, flex-start, stretch);

        .Search-Form__Thing-Input {
            margin: 10px;
            height: 30px;
            font-size: 14px;
            border-radius: 6px;
            border: 1px solid lightgrey;
            background: #eee;
            outline: none;
            font-weight: bold;
            padding-left: 5px;
        }
        .Search-Form__Thing-Input:focus {
            box-shadow: 0 0 0px 1px $blue;
            background: #fff;
        }
        .Search-Form__Thing-Input::placeholder {
            color: lightgray;
            font-weight: lighter;
        }
        
        .Search-Form__Checkbox-Submit-Row {
            @include flex(row, space-between, center);
            padding: 10px;
            border-bottom: 1px solid #000;
            .Search-Form__Is-Free-Label {
                @include flex(row, flex-start, center);
            }
            // .Search-Form__Is-Free-Checkbox {
            
            // }
            .Search-Form__Submit-Discard-Buttons {
                @include flex(row);

                .Search-Form__Submit-Button {
                    padding: 8px 20px;
                    background: #fff;
                    color: $blue;
                    border-radius: 14px;
                    border: 1px solid $blue;
                    font-weight: bold;
                    font-size: 10px;
                    outline: none;
                    transition: .3s;
    
                }
                .Search-Form__Submit-Button:focus {
                    box-shadow: 0 0 0 1px $blue;
                    border: 1px solid transparent;
                    color: $blue;
                }
                .Search-Form__Submit-Button:disabled {
                    border: 1px solid grey;
                    color: grey;
                }
                .Search-Form__Submit-Button:disabled:hover {
                    border: 1px solid grey;
                    color: grey;
                    background-color: transparent;
                }
                .Search-Form__Submit-Button:hover {
                    box-shadow: 0 0 0 1px #fff;
                    background: $blue;
                    border: 1px solid transparent;
                    color: #fff;
                    transition: .3s;
                }
                
                .Search-Form__Discard-Button {
                    padding: 8px 20px;
                    background: #fff;
                    color: $red;
                    border-radius: 14px;
                    border: 1px solid $red;
                    font-weight: bold;
                    font-size: 10px;
                    outline: none;
                    transition: .3s;
                    margin-right: 10px;
    
                }
                .Search-Form__Discard-Button:focus {
                    box-shadow: 0 0 0 1px $red;
                    border: 1px solid transparent;
                    color: $red;
                }
                .Search-Form__Discard-Button:hover {
                    box-shadow: 0 0 0 1px #fff;
                    background: $red;
                    border: 1px solid transparent;
                    color: #fff;
                    transition: .3s;
                }
            }
            
        }
        
    }
}