@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}
$dark: #202124;
$coral: #f63f45;

.Navbar {
    position: relative;
    height: 70px;
    width: 100%;
    background: $dark;
    @include flex(row, space-between, center);

    .Navbar__Title {
        font-size: 20px;
        line-height: 70px;
        margin: 0;
        color: #fff;
        padding-left: 20px;
    }
    .Navbar__Navigation-List {
        @include flex(row, space-between, center);
        height: 70px;
        width: 120px;
        list-style: none;
        margin: 0;
        
        .Navbar__Navigation-List-Item {
            font-size: 14px;
            color: #fff;
            text-decoration: none;
        }
        .Navbar__Navigation-List-Item_Highlighted {
            color: $coral;
            border-bottom: 2px solid $coral;
        }
    }
    
    .Navbar__Auth-Buttons {
        @include flex(row, space-between, center);
        height: 70px;
        width: 140px;
        padding-right: 20px;

        .Navbar__Auth-Button {
            background: transparent;
            font-size: 12px;
            color: #fff;
            border: 0;
        }
        .Navbar__Auth-Button_Highlighted {
            background: $coral;
            padding: 7px 15px;
            border-radius: 12px;

        }
    }
    .Navbar__User-Menu {
        position: relative;
        @include flex(row, space-between, center);
        height: 70px;
        width: 180px;
        padding: 0px 20px;
        margin-right: 20px;
        cursor: pointer;
        box-sizing: border-box;

        .Navbar__User-Menu-Avatar-Container {
            height: 30px;
            width: 30px;
            border-radius: 50%;
            border: 3px solid $coral;
            overflow: hidden;

            
        }
        .Navbar__User-Menu-Avatar-Null {
            height: 30px;
            width: 30px;
            @include flex(row, center, center);
            background: yellowgreen;
            font-weight: bold;
            color: #fff;
        }
        .Navbar__User-Menu-Name {
            padding-left: 5px;
            color: #fff;
            font-size: 12px;
        }
    }
    .Navbar__User-Menu:hover {
        background: #101114;    
    }

}
