@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}
$dark: #202124;
$coral: #f63f45;


.Registration-Component-Container {
    height: auto;
    width: 250px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,0.9);
    padding: 20px;
    box-shadow: 0 0 1000px 500px rgba(0,0,0,0.5);
    display: flex;
    flex-direction: column;
    z-index: 50;

    .Registration-Component-Container__Title {
        text-align: center;
        flex-grow: 1;
        color: #ccc;
    }
    .Registration-Component-Form {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-grow: 2;

        .Registration-Input-Container {
            display: flex;
            flex-direction: column;

            .Registration-Input-Container__Label {
                margin: 5px;
                font-size: 0.6em;
                text-transform: uppercase;
                color: #ccc;

                .Registration-Input-Container__Input {
                    width: 200px;
                    margin-top: 4px;
                    background: rgba(0,0,0,0.5);
                    padding: 10px;
                    border: 0;
                    border-radius: 12px;
                    outline-color: transparent;
                    color: #ccc;
                }
                .Registration-Input-Container__Input:focus {
                    border: 1px solid orange;
                }
            }
        }
    }

    .Registration-Buttons-Container {
        @include flex(row, space-between, center);
        padding-top: 20px;
        width: 200px;

        .Registration-Component-Form__Submit {
            flex-grow: 3;
            margin-right: 20px;
            background: rgb(51, 247, 51);
            padding: 8px;
            border: 0;
            color: #fff;
            border-radius: 10px;
        }
        .Registration-Component-Form__Cancel {
            flex-grow: 2;
            background: rgb(230, 68, 27);
            padding: 8px;
            border: 0;
            color: #fff;
            border-radius: 10px;
        }
    }
    .Registration-Component-Container__Login-Row {
        font-size: 12px;
        color: #ccc;
        padding-top: 20px;
        border-top: 1px solid lightgray;
        .Registration-Component-Container__Login-Link {
            color: orange;
            font-size: 12px;
            text-decoration: underline;
            border: 0;
            background: transparent;
            cursor: pointer;
            transition: .3s;
            outline: none;
        }
        .Registration-Component-Container__Login-Link:hover {
            color: lightseagreen;
            transition: .3s;
        }
    }
}