@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}


.User-Profile {
    position: relative;

    .Add-Thing-Button {
        position: fixed;
        bottom: 20px;
        right: 20px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        font-size: 20px;
        padding: 5px 10px;
        background: lightgreen;
        color: #fff;
        border: 0;
        transition: .3s;
        border-radius: 5px;
    }
    .Add-Thing-Button:hover {
        background: lightskyblue;
        transition: .3s;
    }
}