@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.Thing-Item__Delete-Button {
    position: absolute;
    top: 40px;
    right: 10px;
    @include flex(row, center, center);
    height: 24px;
    width: 24px;
    border-radius: 5px;
    border: 0;
    background: red;
    color: #fff;

}