@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.Pagination {
    @include flex(row, flex-start, center);
    padding: 5px;

    .Pagination__Page {
        margin: 10px;
        height: 15px;
        width: 15px;
        border-radius: 50%;
        background: lightgray;
    }
    .Selected-Page {
        background: lightseagreen;
    }
}