@mixin flex($direction: row, $j-content: flex-start, $a-items:stretch) {
    display: flex;
    flex-direction: $direction;
    justify-content: $j-content;
    align-items: $a-items;
}

.Carousel {
    @include flex(column, flex-start, center);

    .Carousel__Screen {
        position: relative;
        height: 400px;
        @include flex(row, center, stretch)
    }
    .Carousel__Prev-Button {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 30%;
        background: transparent;
        border: 0;
        outline: none;
    }
    .Carousel__Next-Button {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        height: 100%;
        width: 30%;
        background: transparent;
        border: 0;
        outline: none;
    }
    .Carousel__Image-Container {
        .Carousel__Image_Preloader {
            height: 400px;
        }
        .Carousel__Image_Image {
            height: 400px;
        }
    }
    
    .Carousel__Empty-Space {
        @include flex(row, center, center);
        height: 400px;
        width: 400px;
    }
}